	h1 {text-align: center; color: green;}
	p {text-align: center; color: blue;}
	div {text-align: center;}
	
	.font1 {background-color: black; color: red; font-size: large;}
	.font2 {background-color: red; color: black; font-size: large;}