/*=======================================================
    AUTHOR: C. KIRK HILTON
========================================================*/

/*======================================================
    GENERIC STYLE
=======================================================*/
html {
    scroll-padding-top: 20%;
}

body {
    font-family: Arial;
    text-align: center;
}

footer {
    color: brown;
	font-size: 150%;
    font-weight: bold;
    padding: 1cm;
}

h1 {
	color: brown;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	font-size: 500%;
    font-stretch: ultra-expanded;
}

span {
    font-size: 400%;
	font-weight: bold;
    font-family: 'Piedra', cursive;
    padding-bottom: 6cm;
}

p {
	color: brown;
	font-size: 150%;
    font-weight: bold;
    padding-top: 2cm;
    padding-bottom: 6cm;
}

#home h1 {
    margin-top: 10%;
}

#home img {
    width: 10%;
}

/*=======================================================
    NAV
========================================================*/
ul {
    top: 0;
    width: 100%;
    list-style-type: none;
	margin: 0% auto;
	padding: 0;
	overflow: hidden;
    background-color: #111;
    position: fixed;
    z-index: 100;
}

li {
    margin-left: 10px;
    float: left;
    color: brown;
    font-weight: bolder; 
    text-align: center;
	padding: 30px 20px;
	text-decoration: solid;
}

a li:hover {
	background-color: #333;
}

/*=======================================================
    PHOTOS STYLE
=======================================================*/
* {
    box-sizing: border-box;
}
  
/* Create two equal columns that float next to each other */
.column {
    float: left;
    width: 50%;
    padding-left: 0;
    padding-right: 4px;
}
  
.column img {
    margin-top: 0;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/*=====================================================
    CONTACT INFO STYLE
=======================================================*/
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
    width: 100%;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 250px;
}

* {
    box-sizing: border-box;
}

input[type=text], 
select, 
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}