h1 {
	color: brown;
	font-weight: bold;
	font-family: Courier New;
	font-size: 500%;
	text-align: center;
}

span {
	font-size: 400%;
	font-weight: bold;
	font-family: 'Piedra', cursive;
}

p {
	color: brown;
	font-size: 150%;
	font-weight: bold;
}
	