/*********** Following Nav Start *************/

.following.logo {
    float: left;
    margin-right: 1em;
  }
  
  .following.logo .logo.image {
      width:350px;
      max-width:350px !important;
  }
  
  .following.bar .column {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .following.bar .column > .menu {
    margin-top: 0px;
    height: 35px;
    height: 2.1875rem;
    font-weight: bold;
  }
  .following.bar .link.item, .ui.secondary.menu a.item, .following.bar div.dropdown.item {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 100;
  }
  .following.bar .ui.secondary.menu .dropdown.item>.menu {
    margin-top: 0;
  }
  .following.bar .ui.secondary.inverted.menu .active.item {
    background-color: rgba(255,255,255,.2);
  }
  .following.bar {
    position: absolute;
    top: 0px;
    z-index: 900;
    left: 0%;
    padding: 3em 0em;
    width: 100%;
    box-shadow: 0px 0px 0px 0px transparent;
    border-bottom: 1px solid transparent;
    transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
    background: transparent;
  }
  .fixed.following.bar {
    background-image: none;
  }
  .fixed.light.following.bar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
  }
  .fixed.following.bar {
    position: fixed;
    top: 0px;
    padding: 1em 0em;
    background-color: #FFFFFF;
  }
  
  .main.menu {
      top: -50px;
      right: 16px;
      width: 93px !important;
      margin-top: 50px !important;
      position: absolute;
      opacity: 1;
      transition: all 0.75s;
  }
  
  
  
  .show-logo { display: block; }
  .hide-logo { display: none; }
  
  .fixed.light.following.bar .main.menu {
      margin-top:-500px !important;
      opacity:0 !important;
  }
  
  .fixed.light.following.bar .customMenu {
      opacity:1 !important;
      margin-top:0px !important;
  }
  
  .hamburger {
      width:35px;
      height:5px;
      background:#000;
      margin-bottom:7px;
      transition:all 0.25s;
  }
  
  .customDropdown {
      position: fixed;
      z-index: 999999;
      right: 0;
      width: 580px;
      height: 100%;
      background: #eb2035;
      top: -110%;
      transition:all 1s;
  }
  
  .customDropdown .menu {
      width: 270px;
      left: 50%;
      margin-left: -135px;
      height: 500px;
      top: 50%;
      margin-top: -250px;
      position: absolute;
  }
  
  .customDropdown .menu .item {
      font-size: 40px;
      margin-bottom: 50px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-family: social-gothic;
      font-weight: 500;
      display: block;
      width: 100%;
      opacity:0.85;
  }
  
  .customDropdown .menu .item:hover {
      opacity:1;
  }
  
  .customDropdown.dropped {
      top: 0;
  }
  
  .customSocials {
      width: 130%;
      padding: 0;
      margin: 90px 0 0 -13%;
      display: block;
  }
  
  .customSocials li {
      list-style:none;
      width:16.66%;
      float:left;
  }
  
  .customSocials li a i.icon {
      color:#fff;
      font-size:40px;
      text-align:center;
      opacity:0.85;
  }
  
  .customSocials li a:hover i.icon {
      opacity:1;
  }
  
  .customClose {
      float: right;
      margin: 50px 20px 0 0;
  }
  
  .customClose i.icon {
      color:#fff;
      font-size: 42px;
  }
  
  /*********** Following Nav End *************/